$dark-green: #42706B; /* colour for main borders and text */
$green: #64B6AC; /* colour for interactive elements and softer borders */
$light-green: #93d9be;
$red: #AD482B; /* colour for errors and issues */
$blue: #2B96AD; /* colour for info and highlights */
$dark-blue: #456990;

$font-color: $dark-green;
$border-color: $dark-green;
$soft-border-color: $green;
$error-color: $red;
$information-color: $blue;

$primary-button-color: $green;
$primary-button-color-hover: mix($green, $dark-green, $weight: 50%);
$secondary-button-color: $light-green;

$default-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$strong-box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;

$nav-bar-gradient: linear-gradient(to right, #93d9be 100px, #afe3cf 100%);
$subtle-background-white-gradient: linear-gradient(to top, #F4F2FF, #eeeeee); /* for page backgrounds and large sections */
$dark-background-gradient: linear-gradient(to top, #000000, #222E50); /* for page backgrounds and large sections */
$fading-dark-green-gradient-to-left: linear-gradient(to right,  $dark-green, rgba(240,240,240,0));
$fading-dark-green-gradient-to-right: linear-gradient(to left,  $dark-green, rgba(240,240,240,0));
$fading-green-gradient-to-top: linear-gradient(to top, $green, rgba(240,240,240,0));

$breakpoint-phone: 768px;
$breakpoint-desktop: 1020px; 

$large-font-size:24px;
$default-font-size:18px;
$small-font-size:13px;

$nav-elements-font-size:22px;
$nav-elements-reduced-font-size:16px;

$navbar-height:80px;

$album-block-size: 150px;

@keyframes updown {
    0% {
        transform: scale(1,1) translateY(0%);
    }

    10% {
        transform: scale(1.1,.8) translateY(-15%);
    }

    30% {
        transform: scale(.8,1.1) translateY(-15%);
    }

    50% {
        transform: scale(1,1) translateY(-15%);
    }

    100% {
        transform: scale(1,1) translateY(0%);
    }
}

@keyframes squish {
    0% {
        transform: scale(1,1);
    }

    10% {
        transform: scale(1.1,.8);
    }

    30% {
        transform: scale(.8,1.1);
    }

    50% {
        transform: scale(1,1);
    }

    100% {
        transform: scale(1,1);
    }
}

@keyframes fly {
    0% {
        transform: rotate(0deg) translateX(0px) translateY(0px) rotate(0deg);
    }

    25% {
        transform: rotate(-120deg) translateX(60px) translateY(60px) rotate(120deg);
    }

    50%{
        transform: rotate(-220deg) translateX(-100px) translateY(-40px) rotate(220deg);
    }

    100% {
        transform: rotate(-280deg) translateX(-280px) translateY(-80px) rotate(280deg);
    }
}

html, body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $font-color;
    font-family: Tahoma;
    font-size:$default-font-size;
}

#id_image_field::before{
    content:"«";
    background-color:black;
    width:100px;
    height:100px;
}

.navbar_wrapper{
    height:$navbar-height;
    /* flex: 0 1 auto; */
    z-index:10;
    /* margin:0;
    padding:0; */
    position: relative;
    /* display: inline-block; */
    box-shadow: $default-box-shadow;
    .navbar{
        img{
            user-select: none;
        }
        input:focus-visible, a:focus-visible{
            outline-offset: -2px;
        }
        width:100%;
        background:$nav-bar-gradient;
        min-height: $navbar-height;
        border-bottom: 1px $soft-border-color solid;
        /* position: relative; */
        display: inline-block;
        a.nav_logo_link{
            float:left;
            height:$navbar-height;
            /* margin:auto; */
            border-right: 1px $soft-border-color solid;
            /* padding:0; */
            img.nav_logo{
                /* display:inline-block; */
                max-height:$navbar-height*0.9;
                margin:$navbar-height*0.05;
            }
        }
        ul{
            list-style-type: none;
            float:right;
            /* padding:0px; */
            margin:0px;
            &.icon_list{
                border-left: 1px $soft-border-color solid;
                height:$navbar-height*0.75;
                padding:$navbar-height*0.25 0 0 0;
                li{
                    /* padding:0px; */
                    display: inline-block;
                    height:$navbar-height*0.5;
                    width:40px;
                    margin:0 $navbar-height*0.1875;
                    cursor:pointer;
                    &.profile_icon:hover img{
                        animation: updown 1s ease infinite;
                    }
                    &.menu_icon{
                        /* display:inline-block; */
                        @media screen and (min-width: ($breakpoint-phone+1)){
                            display:none
                        }
                        &:hover img{
                            animation: squish 1s ease infinite;
                        }
                    }
                    img{
                        max-height:min(40px, 100%);
                        pointer-events: none;
                    }
                }
            }
            &.profile_list{
                position:absolute;
                top:100%;
                right:0px;
                z-index:-2;
                @media screen and (max-width: ($breakpoint-phone)){
                    right: 70px;
                }
                /* height:auto; */
                max-height: 0px;
                &.open{
                    max-height:$navbar-height * 3.1;
                    z-index:-1;
                }
                /* margin:0; */
                padding:0px 1px 1px 1px;
                background:$soft-border-color;
                overflow:hidden;
                transition: max-height 0.5s linear;
                li{
                    /* padding:0px; */
                    height:$navbar-height*0.75;
                    display:block;
                    margin:0;
                    width: 300px;
                    background:$nav-bar-gradient;
                    
                    &:hover{
                        background:$green;
                    }
                    /* text-align: center; */
                    position:relative;
                    a {
                        display:inline-block;
                        text-decoration: none;
                        color:white;
                        font-size: $nav-elements-font-size;
                        width:100%;
                        height:100%;
                        span{
                            position:absolute;
                            bottom: $navbar-height*0.2;
                            /*display: block;*/
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
                
            }
            &.item_list{
                @media screen and (max-width: ($breakpoint-phone)){
                    position:absolute;
                    top:($navbar-height);
                    right:0px;
                    height:auto;
                    max-height:0px;
                    margin:0;
                    padding:0px 1px 1px 1px;
                    background:$soft-border-color;
                    overflow:hidden;
                    transition: max-height 0.5s linear;
                    z-index:-2;
                }
                &.open{
                    @media screen and (max-width: ($breakpoint-phone)){
                        max-height:$navbar-height * 4.1;
                        z-index:-1;
                    }
                }
                height:$navbar-height*0.75;
                background:linear-gradient(to right, rgba($green, 0) 0%,rgba($green, 0.3) 20%, rgba($green, 0.3) 80%, rgba($green, 0) 100%);
                margin:$navbar-height*0.25 10px 0 0;
                padding:0 20px 0 20px;
                li{
                    /*padding:0px;*/
                    display: inline-block;
                    height:$navbar-height*0.75;
                    width: 135px;
                    margin:0 15px;
                    @media screen and (max-width: $breakpoint-desktop) and (min-width: ($breakpoint-phone+1)){
                        width: 97px;
                        margin:0 10px;
                    }
                    @media screen and (max-width: $breakpoint-phone){
                        display: block;
                        margin:0;
                        width: 300px;
                        background:$nav-bar-gradient;
                        &:hover{
                            background:$green;
                        }
                    }
                    /* text-align: center; */
                    position:relative;
                    transition: background-color 0.25s ease-in-out;
                    /* background-color:rgba($green, 0); */
                    &:hover{
                        background-color:$green;
                    }
                    a{
                        display:inline-block;
                        text-decoration: none;
                        color:white;
                        font-size: $nav-elements-font-size;
                        @media screen and (max-width: $breakpoint-desktop) and (min-width: ($breakpoint-phone+1)){
                            font-size: $nav-elements-reduced-font-size;
                        }
                        width:100%;
                        height:100%;
                        span{
                            position:absolute;
                            bottom: $navbar-height*0.2;
                            /*display: block;*/
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

input:focus-visible, a:focus-visible, select:focus-visible{
    outline: 2px solid $blue;
}

.main{
    width: 100%;
    background:$subtle-background-white-gradient;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    &.slideshow_presentation{
        @media screen and (min-width: ($breakpoint-phone+1)){
            flex-direction: row;
        }
        flex-direction: column-reverse;
        z-index:1;
    }
    &.closed{
        user-select: none;
        pointer-events: none;
    }
}

.container_80{
    width:80%;
    display:block;
    margin:0 auto;
    text-align:center;
    flex-grow: 1;
}

.search_form{
    text-align:right;
    display:flex;
    flex-direction: row;
    height:40px;
    width:90%;
    margin: 20px auto;
    justify-content:flex-end;
    input[type=text]{
        border-radius: 3px 0 0 3px;
        border-right:none;
        height:20px;
        @media screen and (max-width: $breakpoint-desktop){
            flex-grow: 1;
        }
    }
    button{
        border-radius: 0 3px 3px 0;
        border:1px solid #42706B;
        border-left:none;
        width:40px;
        box-sizing: content-box;
        background-image:url("../images/SearchIcon.png");
        background-size:50%;
        background-repeat:no-repeat;
        background-position:50%;
        padding:0;
        margin:0;
        height:40px;
    }
}

.pagination{
    margin: 20px auto 40px;
    li{
        display:inline-block;
        width:40px;
        height:40px;
        font-weight: bold;
        user-select: none;
        &:not(.break){
            border-radius: 3px;
            &:hover{
                background-color: $green;
            }
            background-color: $light-green;
            color:white;
            box-shadow: $default-box-shadow;
            &.current span {
                border-radius: 3px;
                background-color: $green;
            }
            a, span {
                width:100%;
                height:100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color:white;
            }
        }
    }
}

.album_section{
    text-align: left;
    width:90%;
    margin:10px auto 20px auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.24);
    padding:10px 10px 10px 10px;
    background-color: rgba(black, 0.02);
    border-radius: 10px;
    min-height:$album-block-size*2+20px*4+10px*2;
    .album_block{
        text-align: center;
        @media screen and (min-width: ($breakpoint-desktop)){
            width:23%;
            margin:20px 1%;
        }
        @media screen and (max-width: $breakpoint-desktop) and (min-width: ($breakpoint-phone+1)){
            width:32.33%;
            margin:20px 0.5%;
        }
        @media screen and (max-width: $breakpoint-phone){
            width:48%;
            margin:20px 1%;
        }
        min-width: $album-block-size;
        padding: 0;
        vertical-align: top;
        display: inline-block;
        .album_block_content{
            &:hover .album_illustration .file_top{
                transform: scale(1.0, 0.9);
                transform: skew(-5deg, 0deg);
                transform-origin : 50% 100%;
            }
            &:hover .album_illustration .warning{
                animation: squish 1s ease infinite;
                animation: updown 1s ease infinite;
            }
            &:hover .fly{
                animation: fly 2s linear 1;
            }
            display: inline-block;
            margin:auto;
            text-decoration: none;
            color: $dark-blue;
            span{
                display:inline-block;
                width:$album-block-size;
            }
            .album_illustration{
                margin:auto;
                width:$album-block-size;
                height:$album-block-size;
                background: $subtle-background-white-gradient;
                box-shadow: $default-box-shadow;
                position:relative;
                overflow:none;
                .warning{
                    position:absolute;
                    width:35px;
                    height:35px;
                    background-size: cover;
                    right:2px;
                    top:2px;
                    color:white;
                    font-size:$large-font-size;
                    font-weight:bold;
                }
                .unsorted_picture_warning{
                    background-image:url('../images/UnsortedWarning.png');
                }
                .unrated_warning{
                    background-image:url('../images/RatingWarning.png');
                }
                .file_bottom{
                    background-image:url('../images/filePieceBottom.png');
                }
                .file_top{
                    background-image:url('../images/filePieceTop.png');
                }
                .file_bottom, .file_top{
                    transition: all 0.1s ease-in-out;
                    position:absolute;
                    width:50px;
                    height:40px;
                    background-size: cover;
                    bottom:0;
                }
                .empty_background, img{
                    top:5%;
                    left:5%;
                    position:absolute;
                    width:90%;
                    height:90%;
                    object-fit: cover;
                    background-color:lightgrey;
                    overflow-y:hidden;
                }
                .fly{
                    position:absolute;
                    bottom:15px;
                    left:28px;
                    width:10px;
                    height:10px;
                    background-image:url('../images/Fly.png');
                    background-size:cover;
                }
            }
            .form_popup_button{
                margin:auto;
                border-radius: 30px;
                width:$album-block-size;
                height:$album-block-size;
                background: $subtle-background-white-gradient;
                font-size: 0;
                position:relative;
                div{
                    position:absolute;
                    left: $album-block-size*0.25;
                    top: $album-block-size*0.25;
                    width: $album-block-size*0.5;
                    height: $album-block-size*0.5;
                    background-image:url("../images/AddIcon.png");
                    background-size: cover;
                }
            }
        }
    }
}

.gallery{
    flex-grow:90;
    width:99%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin:0.5%;
    .picture_container{
        margin:0.5%;
        height:fit-content;
        text-align:center;
        img{
            max-height:600px;
            max-width:100%;
            box-shadow: $default-box-shadow;
            user-select: none;
            pointer-events: none;
        }
    }
}

.button_hide_text{
    font-size: 0 !important;
}

.popup{
    display: none;
    &.open{
        display:block;
        background-color:rgba(black, 0.8);
        position:fixed;
        z-index:20;
        width:100vw;
        height:100vh;
        padding-top:50vh;
        > div{
            background:$subtle-background-white-gradient;
            border-radius: 10px;
            box-shadow: $strong-box-shadow;
            max-height:400px;
            overflow-y:auto;
            padding: 50px 0px 70px 0px;
            @media screen and (max-width: ($breakpoint-phone+1)){
                width: 100%;
                margin: -250px 0%;
            }
            width: 50%;
            margin: -250px 25%;
            position:relative;
            .close_button{
                position:absolute;
                right:20px;
                top:20px;
                width: 30px;
                height: 30px;
                margin:0px;
                background-color:transparent;
                box-shadow: none;
                background-image:url('../images/CloseIcon.png');
                background-size: cover;
            }
        }
    }
}

.half-column{
    flex-grow: 1;
    @media screen and (min-width: ($breakpoint-desktop)){
        width: 50%;
    }
    & + .half-column{
        @media screen and (max-width: $breakpoint-desktop) and (min-width: ($breakpoint-phone+1)){
            min-width: 40%;
        }
    }
    @media screen and (max-width: $breakpoint-phone){
        width: 100%;
    }
}


.core_content{
    margin: 5%;
    z-index:1;
}

form{
    display: flex;
    flex-direction: column;
}

.form_element_container{
    width: 300px;
    display:block;
    margin: 10px auto;
    position:relative;
    text-align:left;
}

.field_has_error .form_input_container input{
    border: 1px solid $error-color;
}

.checkbox_container{
    height:200px;
    width:300px;
    overflow-y:auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.24);
    background-color: rgba(black, 0.02);
    margin: 10px 0;
    border-radius:5px;
    > div{
        margin:0px 20px 20px;
        > div{
            vertical-align: middle;
            width:100%;
            display: flex;
            padding:10px 0;
            border-bottom:solid 1px $dark-green;
            label{
                flex-grow:1;
            }
            &:last-child{
                border-bottom:none;
            }
            input[type=checkbox]{
                margin:0;
            }
        }
    }
}

/*
select[multiple]{
    &:not(.enabled){
        pointer-events: none;
        option{
            background-color:#EEEEEE;
            color:#999999
        }
    }
    background-color:white;
    margin: 10px 0;
    width:300px;
    font-size:$default-font-size;
    height:200px;
    box-shadow: $default-box-shadow;
    border-radius:5px;
    border:none;
    option{
        transition:background-color 0.25s ease-in-out;
        transition:color 0.25s ease-in-out;
        text-align: center;
        padding:15px 0;
        border-bottom:solid 1px lightgray;
        &:checked{
            background-color:$dark-green;
            color:white;
        }
    }
}
*/

input[type=radio], input[type=checkbox]{
    margin:18px 0 0px;
    appearance: none;
    width:30px;
    height:30px;
    background-color:white;
    display:inline-block;
    transform: translateY(3px);
    box-shadow: $default-box-shadow;
    display:inline-grid;
    place-content: center;
    border: 2px solid $border-color;
    &:before{
        content:"";
        width: 22px;
        height: 22px;
        background: $blue;
        scale:0;
        transition: scale 0.25s ease-out;
    }
    &:checked::before{
        scale:1;
    }
}

input[type=radio]
{
    border-radius: 50%;
    &:before{
        content:"";
        border-radius: 50%;
    }
    &:checked::before{
        scale:1;
    }
}

input[type=checkbox]
{
    &:before{
        clip-path: polygon(00% 56%, 16% 37%, 38% 55%, 81% 8%, 100% 26%, 41% 91%);
    }
}

input[type=file]{
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.24);
    border-radius:10px;
    width:280px;
    margin-top:10px;
    font-size:$small-font-size;
    text-align: center;
    pointer-events: none;
    padding:10px;
    &:focus::file-selector-button{
        background-color: #537FAD;
    }
    &::file-selector-button{
        display:block;
        width:280px;
        font-size:0;
        height:280px;
        background-color: #456990;
        border-radius: 6px;
        box-shadow:$default-box-shadow;
        border: none;
        pointer-events:all;
        cursor:pointer;
        margin-bottom:10px;
        &:hover, &:focus{
            background-color: #537FAD;
        }
        background-image: url('../images/UploadIcon.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size:auto 100px;
    }
}


input[type=text], input[type=email], input[type=password]{
    width:280px;
    height:30px;
    padding:10px;
    border: 1px solid $border-color;
    border-radius: 3px;
    display: block;
    font-size: $default-font-size;
    box-shadow: $default-box-shadow;

    &:focus{
        outline: 2px solid $information-color;
    }
}

.core_content{
    text-align:center;
}

.form_input_container{
    display: flex;
    width: 350px;
    vertical-align: middle;
}

.help_text_icon{
    margin: 10px;
    border-radius: 15px;
    width: 30px;
    height:30px;
    color: white;
    background-color: $information-color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor:pointer;
    font-weight: bold;
    &::after{
        content:"?";
    }
    content:"?";
}

.button_row{
    display: flex;
    justify-content: right;
    button, .button{
        width:fit-content;
        height:20px;
        min-width: 40px;
        margin:0 5px;
        background-size: 80% 80%;
        background-position:center;
        background-repeat:no-repeat;
    }
}

.delete_button{
    background-image: url("../images/DeleteIcon.png");
}

.edit_name_button{
    background-image: url("../images/EditName.png")
}

button, .button{
    width:300px;
    border: 0px solid $border-color;
    display: block;
    font-size: $default-font-size;
    background-color: $primary-button-color;
    color: white;
    border-radius: 3px;
    box-shadow: $default-box-shadow;
    text-decoration: none;
    line-height:30px;
    padding:10px 0;
    text-align: center;
    cursor: pointer;
    margin: auto;
    margin-top: 25px;
    transition: background-color 0.25s ease-in-out;

    &.secondary{
        background-color: $secondary-button-color;
    }

    .button{
        margin-bottom: 25px;
    }

    &:hover{
        background-color: $primary-button-color-hover;
    }

    &:focus{
        outline: 2px solid $information-color;
    }
}

.content_column{
    position: relative;
    z-index: 1;
    box-shadow: $strong-box-shadow
}

.slideshow_column{
    background: linear-gradient(to top, #000000, #222E50);
    position:relative;
    min-height:400px;
    z-index: -1;
    .slide{
        position:absolute;
        /* background-image: url("../images/Crow.jpg");
        background-size: cover;
        background-position: center; */
        width:100%;
        height:100%;
        opacity:0;
        overflow-y:hidden;
        z-index:-2;
        transition: opacity 0.6s;

        &.previous{
            opacity:1;
            z-index:-1;
        }

        &.current{
            opacity:1;
            z-index:0;
        }

        &.top-left img{
            object-position: left top;
        }

        &.top img{
            object-position: top;
        }

        &.top-right img{
            object-position: right top;
        }

        &.center-left{
            object-position: left;
        }

        &.center-right{
            object-position: right;
        }

        &.bottom-left{
            object-position: bottom left;
        }

        &.bottom{
            object-position: bottom;
        }

        &.bottom-right{
            object-position: bottom right;
        }


        img{
            object-fit:cover;
            width:100%;
            height:100%;
            user-select: none;
            pointer-events: none;
        }
    }
}

.help_text, .error_text, .note{
    font-size:$small-font-size;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.help_text{
    max-height: 0px;
    &.help_text_open{
        max-height:250px;
        transition: max-height 0.5s ease-in-out;
    }
}

.field_has_error .error_text{
    display: block;
}

.error_text{
    display: none;
    color: $error-color;
    
    ul{
        list-style-position: none;
        padding-left: 0px;
        margin: 0;
    }
}

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;

    &:before, &::after{
        content: '';
        display: block;
        height: 3px;
        min-width: 35%;
    }

    &:before{
        background: $fading-dark-green-gradient-to-right;
    }

    &:after{
        background: $fading-dark-green-gradient-to-left;
    }

    & > *{
        margin: auto 2.5%;
        max-width:25%;
        text-align:center;
    }
}