{% extends "base.html" %}
{% load static %}

{% block title %} My Albums {% endblock %}

{% block content %}
    <div class="main">
        <div class="container_80"> 
            <h1> My Albums </h1>

            <form action="./" method="get" id="search_form" class="search_form">
                <input type="text" id="q" name="q" placeholder="Search..." value="{{query}}"/>
                <button type="submit" form= id="search_form" class="button_hide_text">Search</button>
            </form> 

            <div class="album_section">
                <div class= "album_block"> <div class="album_block_content"> <button title="Add album" class="form_popup_button">Add album<div></div></button> </div> 
            </div>{% for album in albums %}<div class="album_block"> 
                <a class= "album_block_content" href="TO DO"><div class="album_illustration"> </div> <span> {{album.name}} </span> </a>
                </div>{% endfor %} 
            </div>
            {% include "pagination.html"%}
        </div>
    </div>

{% endblock %}

{% block popups %}
    <div class="form_popup popup {%if form.errors%} popup_has_error{%endif%}"> <div> <button class="close_button"> </button> {% include "form_renderer.html" with submit_message="Create Album" form_id="create_album_form" %} </div> </div>
{% endblock %}