{% extends "slideshow_presentation_base.html" %}
{% load static %}

{% block title %} {{album.name}} - Delete {% endblock %}

{% block core_content %}
    <h1> Are you sure you want to delete this album? </h1>
    <p> 
        Do you really want to delete album "{{album.name}}"? This action is irreversible. 
        Any pictures linked only this exclusively to this album will also be deleted. 
    </p>
    <form method="post">
        {% csrf_token %}
        <button action="submit"> Yes, delete this album and its exlusive content. </button>
        <a class="button secondary" href="{%url 'main:album' album.id %}">No, take me back.</a>
    </form>
{% endblock %}