{% extends "base.html" %}
{% load static %}

{% block title %} {{album.name}} {% endblock %}

{% block content %}
    <div class="main">
        <div class="container_80"> 
            <h1> {{album.name}}  </h1>
            <div class="button_row">
                <a title="Rate/Sort" class="button rate_sort_button" href="{% url 'main:album_organise' album.id %}{% if order %}?order_by={{order}}{% endif %}"> Rate/Sort </a>
                <a title="Edit album name" class="button button_hide_text edit_name_button" href="{% url 'main:album_edit_name' album.id %}"> Edit album name </a>
                <a title="Delete Album" class="button button_hide_text delete_button" href="{% url 'main:album_delete' album.id %}"> Delete album </a>
            </div>
            {% if pictures %}{% include "order_by_form_renderer.html"%}{% endif %}
        </div>
        {% if pictures %}
            <div class="gallery">
                <div class="divider"> </div>
                {% for picture in pictures %}
                    <div class="picture_container">
                        <img src="{{picture.image.url}}"/>
                    </div>
                {% endfor %}
                <div class="divider"> </div>
            </div>
        {% endif %}
        {% include "pagination.html"%}
    </div>
{% endblock %}