{% extends "base.html" %}
{% load static %}

{% block title %} My Albums {% endblock %}

{% block content %}
    <div class="main">
        <div class="container_90">
            <h1> My Albums </h1>

            <form method="get" id="search_form" class="search_form">
                <input type="text" id="q" name="q" placeholder="Search..." value="{{query}}"/>
                <button type="submit" class="button_hide_text">Search</button>
            </form> 

            <div class="album_section">
                <div class= "album_block"> <div class="album_block_content"> <button title="Add album" class="form_popup_button">Add album<div></div></button> </div> 
            </div>{% if unsorted_picture %}<div class="album_block">
                <a class= "album_block_content" href="{% url 'main:unsorted' %}"><div class="album_illustration album_unsorted_pics"> <img src="{{unsorted_picture.image.url}}"/> <div class="warning unsorted_picture_warning" title="Unsorted pictures"> ! </div> </div> <span> Unsorted pictures </span> </a>
                </div>{% endif %}{% for album in albums %}<div class="album_block"> 
                <a class= "album_block_content" href="{% url 'main:album' album.id %}"><div class="album_illustration"> {% if album.cover_picture %} <img src="{{album.cover_picture.image.url}}"/> {%else%} <div class="empty_background"> <div class="fly"> </div> </div> {% endif %} <div class="file_bottom"></div> <div class="file_top"></div> {% if album.has_unrated %} <div class="warning unrated_warning" title="Unrated pictures"> ! </div> {%endif%} </div> <span> {{album.name}} </span> </a>
                </div>{% endfor %} 
            </div>
            {% include "pagination.html"%}
        </div>
    </div>
{% endblock %}

{% block popups %}
    <div class="form_popup popup {%if form.errors%} popup_has_error{%endif%}"> <div> <button class="close_button"> </button> {% include "form_renderer.html" with submit_message="Create Album" %} </div> </div>
{% endblock %}