{% extends "base.html" %}
{% load static %}

{% block title %} {{album.name}} {% endblock %}

{% block content %}
    <div class="main">
        <div class="container_80"> 
            <h1> {{album.name}}  </h1>
            {%if album.share_status == "public"%}
                <p> Public album </p>
            {%elif album.share_status == "shared"%}
                {% if album.shared_with.count == 0 %}
                <p> Shared album </p>
                {% else %}
                    {% if album.shared_with.count <= 5 %}
                        <p> Album shared with 
                            {%for friend in album.shared_with.all%}{% if not forloop.first %}, {%endif%}{{friend}}{% endfor %}
                        </p>
                    {% else %}
                        <p> Album shared with {{album.shared_with.count}} friends</p>
                    {% endif %}
                {% endif %}
            {%endif%}
            <div class="button_row">
                <a title="Share settings" class="button" href="{% url 'main:album_share_settings_set' album.id %}"> Share settings </a>
                {%if pictures %}<a title="Rate/Sort" class="button rate_sort_button" href="{% url 'main:album_organise' album.id %}{% if order %}?order_by={{order}}{% endif %}"> Rate/Sort </a>{% endif %}
                <a title="Edit album name" class="button button_hide_text edit_name_button" href="{% url 'main:album_edit_name' album.id %}"> Edit album name </a>
                <a title="Delete Album" class="button button_hide_text delete_button" href="{% url 'main:album_delete' album.id %}"> Delete album </a>
            </div>
            {% if pictures %}{% include "order_by_form_renderer.html"%}{% endif %}
        </div>
        {% if pictures %}
            <div class="gallery">
                <div class="divider"> </div>
                {% for picture in pictures %}
                    <a class="picture_container" href="{% url 'main:pic_edit' album.id picture.id %}">
                        <img src="{{picture.image.url}}"/>
                    </a>
                {% endfor %}
                <div class="divider"> </div>
            </div>
        {% endif %}
        {% include "pagination.html"%}
    </div>
{% endblock %}