{% extends "slideshow_presentation_base.html" %}
{% load static %}

{% block title %} {{album.name}} - Make Public {% endblock %}

{% block core_content %}
    <h1> Are you sure you want to make this album public? </h1>
    <p> Making "{{album.name}}" public will make it available to anyone that can obtain a direct link. </p>
    <p> Please do not: <ul>
        <li> Make an album public with any identifying information in its name or contents or anything you want to keep private.</li>
        <li> Depict anyone in a public album without their explicit authorisation. </li>
    <p> The name or contact information of album authors will not be shown publicly. </p>
    <form method="post">
        {% csrf_token %}
        <button action="submit"> Yes, make this album available to anyone with a direct link. </button>
        <a class="button secondary" href="{%url 'main:album' album.id %}">No, take me back.</a>
    </form>
{% endblock %}