{% extends "base_no_nav.html" %}
{% load static %}

{% block nav %}
  <div class="navbar_wrapper">
    <nav class="navbar"><a href="/" class="nav_logo_link"><img class="nav_logo" src="{% static 'images/logo.png' %}" alt="Pixax Logo"></a>
      <ul class="icon_list">
        {%if user.is_authenticated%}
        <li class="profile_icon"><img src="{%static "images/profile.png"%}" alt="Profile icon"/> </li>
        {%endif%}
        <li class="menu_icon"><img src="{%static "images/menu.png"%}" alt="Menu"/></li>
      </ul>
      {%if user.is_authenticated %}
      <ul class="profile_list">
        <li> <a href="{% url "users:profile" %}"><span>Profile</span></a></li>
        <li> <a href="{% url "users:friends" %}"><span>My Friends</span></a></li>
        <li> <a href="{% url "logout" %}"><span>Logout</span></a></li> 
      </ul>
      {%endif%}
      <ul class="item_list">
        {% if user.is_authenticated %}<li><a href="{% url 'main:albums' %}"><span>My Albums</span></a></li>
        <li> <a href="{% url 'main:upload' %}"><span>Upload</span></a></li>
        {%else%}
        <li> <a href="{% url 'users:register' %}"><span>Sign Up</span></a> </li>
        <li> <a href="{% url 'users:login' %}"><span>Login</span></a> </li>
        {% endif %}
        <li><a href="{% url 'main:about' %}"><span>About</span></a></li>
      </ul>
    </nav > 
  </div>
  {% block content %} {% endblock %}
  {% block popups %} {% endblock %}
{% endblock %}