{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pixax.css' %}" />
    <script type="text/javascript" src="{% static 'js/pixax.js' %}"></script> 
    <script type="text/javascript">
      {%if slideshow_timer%} window.seconds_between_slides = {{slideshow_timer}} {%endif%}
    </script>
    <title> Pixax - {% block title %}{% endblock %} </title>
  </head>
<body>
    {% block nav %}{% block content %}{% endblock %}{% endblock %}
</body>