<form method="post">
    {% csrf_token %}
    {% for field in form %}     
        <div class="form_element_container">
            {{ field.label_tag }}
            <div class="form_input_container"> 
                {{ field }}
                {% if field.help_text %}
                    <div class="help_text_icon"> </div>
                {% endif %}
            </div>
            <div class="help_text"> {{ field.help_text }} </div>
            <div class="error_text"> {{ field.errors }} </div>
        </div>
    {% endfor %}
    {% if note %}
        <span class="note"> {{ note }} </span>
    {% endif %}
    <button action="submit"> {{ submit_message }} </button> 
</form>