{% extends "slideshow_presentation_base.html" %}
{% load static %}

{% block title %} {{user.username}}'s Profile {% endblock %}

{% block core_content %}
    <div class="user_profile_display">
        <a class="profile_pic" href="{%url 'users:profile_pic_edit' %}">
            <img src="{%if user.profile_pic %}{{user.profile_pic.url}}{%else%}{% static '/images/DefaultProfile.png' %}{%endif%}" alt="Profile pic"/>
        </a>
        <div class="user_info">
            <h1> {{user.username}} <a title="Edit Username" class="edit_icon" href="{%url 'users:profile_username_edit'%}"> Edit username </a> </h1>
            <h2> {{user.email}} </h2>
            <h2> <a href="{%url 'password_change'%}">Change password<span class="edit_icon"> </span></a> </h2>
            <span> {{user.albums.count}} {%if user.albums.count == 0%}album{%else%}albums{%endif%} </span>
            <span> {{user.pictures.count}} {%if user.pictures.count == 0%}picture{%else%}pictures{%endif%} </span>
        </div>
    </div>
    <div class="divider"> </div>
{% endblock %}