{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main slideshow_presentation">
        <div class="half-column content_column">
            <div class="core_content">
                {% block core_content %} {% endblock %}
            </div>
        </div>
        <div class="half-column slideshow_column">
            {% for slide in intro_slideshow.slide_set.all %}
                <div class="slide{% if forloop.counter == current_slide_number %} current{%endif%} {{slide.focal_point}}">
                    <img src="{{slide.image.url}}" alt="Slide {{forloop.counter}}"/>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}