{% extends "base.html" %}
{% load static %}

{% block title %} Unsorted Pictures {% endblock %}

{% block content %}
    <div class="main">
        <div class="container_80"> 
            <h1> Unsorted Pictures  </h1>
            <div class="button_row">
                {%if pictures %}<a title="Rate/Sort" class="button rate_sort_button" href="{% url 'main:unsorted_organise' %}{% if order %}?order_by={{order}}{% endif %}"> Rate/Sort </a>{% endif %}
            </div>
            {% include "order_by_form_renderer.html"%}
        </div>
        <div class="gallery">
            <div class="divider"> </div>
            {% for picture in pictures %}
                <a class="picture_container" href="{% url 'main:pic_edit' picture.id %}">
                    <img src="{{picture.image.url}}"/>
                </a>
            {% endfor %}
            <div class="divider"> </div>
        </div>
    </div>
{% endblock %}