/* colour for main borders and text */
/* colour for interactive elements and softer borders */
/* colour for errors and issues */
/* colour for info and highlights */
/* for page backgrounds and large sections */
/* for page backgrounds and large sections */
@-webkit-keyframes updown {
  0% {
    transform: scale(1, 1) translateY(0%);
  }
  10% {
    transform: scale(1.1, 0.8) translateY(-15%);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-15%);
  }
  50% {
    transform: scale(1, 1) translateY(-15%);
  }
  100% {
    transform: scale(1, 1) translateY(0%);
  }
}
@keyframes updown {
  0% {
    transform: scale(1, 1) translateY(0%);
  }
  10% {
    transform: scale(1.1, 0.8) translateY(-15%);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-15%);
  }
  50% {
    transform: scale(1, 1) translateY(-15%);
  }
  100% {
    transform: scale(1, 1) translateY(0%);
  }
}
@-webkit-keyframes squish {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.8);
  }
  30% {
    transform: scale(0.8, 1.1);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes squish {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.8);
  }
  30% {
    transform: scale(0.8, 1.1);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
html, body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #42706B;
  font-family: Tahoma;
}

.navbar-wrapper {
  height: 80px;
  /* flex: 0 1 auto; */
  z-index: 10;
  /* margin:0;
  padding:0; */
  position: relative;
  /* display: inline-block; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar-wrapper .navbar {
  width: 100%;
  background: linear-gradient(to right, #93d9be 100px, #afe3cf 100%);
  min-height: 80px;
  border-bottom: 1px #64B6AC solid;
  /* position: relative; */
  display: inline-block;
}
.navbar-wrapper .navbar img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar-wrapper .navbar input:focus-visible, .navbar-wrapper .navbar a:focus-visible {
  outline-offset: -2px;
}
.navbar-wrapper .navbar a.nav_logo_link {
  float: left;
  height: 80px;
  /* margin:auto; */
  border-right: 1px #64B6AC solid;
  /* padding:0; */
}
.navbar-wrapper .navbar a.nav_logo_link img.nav_logo {
  /* display:inline-block; */
  max-height: 72px;
  margin: 4px;
}
.navbar-wrapper .navbar ul {
  list-style-type: none;
  float: right;
  /* padding:0px; */
  margin: 0px;
}
.navbar-wrapper .navbar ul.icon_list {
  border-left: 1px #64B6AC solid;
  height: 60px;
  padding: 20px 0 0 0;
}
.navbar-wrapper .navbar ul.icon_list li {
  /* padding:0px; */
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 15px;
  cursor: pointer;
}
.navbar-wrapper .navbar ul.icon_list li.profile_icon:hover img {
  -webkit-animation: updown 1s ease infinite;
          animation: updown 1s ease infinite;
}
.navbar-wrapper .navbar ul.icon_list li.menu_icon {
  /* display:inline-block; */
}
@media screen and (min-width: 769px) {
  .navbar-wrapper .navbar ul.icon_list li.menu_icon {
    display: none;
  }
}
.navbar-wrapper .navbar ul.icon_list li.menu_icon:hover img {
  -webkit-animation: squish 1s ease infinite;
          animation: squish 1s ease infinite;
}
.navbar-wrapper .navbar ul.icon_list li img {
  max-height: min(40px, 100%);
  pointer-events: none;
}
.navbar-wrapper .navbar ul.profile_list {
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: -2;
  /* height:auto; */
  max-height: 0px;
  /* margin:0; */
  padding: 0px 1px 1px 1px;
  background: #64B6AC;
  overflow: hidden;
  transition: max-height 0.5s linear;
}
@media screen and (max-width: 768px) {
  .navbar-wrapper .navbar ul.profile_list {
    right: 70px;
  }
}
.navbar-wrapper .navbar ul.profile_list.open {
  max-height: 248px;
  z-index: -1;
}
.navbar-wrapper .navbar ul.profile_list li {
  /* padding:0px; */
  height: 60px;
  display: block;
  margin: 0;
  width: 300px;
  background: linear-gradient(to right, #93d9be 100px, #afe3cf 100%);
  /* text-align: center; */
  position: relative;
}
.navbar-wrapper .navbar ul.profile_list li:hover {
  background: #64B6AC;
}
.navbar-wrapper .navbar ul.profile_list li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 22px;
  width: 100%;
  height: 100%;
}
.navbar-wrapper .navbar ul.profile_list li a span {
  position: absolute;
  bottom: 16px;
  /*display: block;*/
  text-align: center;
  width: 100%;
}
.navbar-wrapper .navbar ul.item_list {
  height: 60px;
  background: linear-gradient(to right, rgba(100, 182, 172, 0) 0%, rgba(100, 182, 172, 0.3) 20%, rgba(100, 182, 172, 0.3) 80%, rgba(100, 182, 172, 0) 100%);
  margin: 20px 10px 0 0;
  padding: 0 20px 0 20px;
}
@media screen and (max-width: 768px) {
  .navbar-wrapper .navbar ul.item_list {
    position: absolute;
    top: 80px;
    right: 0px;
    height: auto;
    max-height: 0px;
    margin: 0;
    padding: 0px 1px 1px 1px;
    background: #64B6AC;
    overflow: hidden;
    transition: max-height 0.5s linear;
    z-index: -2;
  }
}
@media screen and (max-width: 768px) {
  .navbar-wrapper .navbar ul.item_list.open {
    max-height: 328px;
    z-index: -1;
  }
}
.navbar-wrapper .navbar ul.item_list li {
  /*padding:0px;*/
  display: inline-block;
  height: 60px;
  width: 135px;
  margin: 0 15px;
  /* text-align: center; */
  position: relative;
  transition: background-color 0.25s ease-in-out;
  /* background-color:rgba($green, 0); */
}
@media screen and (max-width: 1020px) and (min-width: 769px) {
  .navbar-wrapper .navbar ul.item_list li {
    width: 97px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-wrapper .navbar ul.item_list li {
    display: block;
    margin: 0;
    width: 300px;
    background: linear-gradient(to right, #93d9be 100px, #afe3cf 100%);
  }
  .navbar-wrapper .navbar ul.item_list li:hover {
    background: #64B6AC;
  }
}
.navbar-wrapper .navbar ul.item_list li:hover {
  background-color: #64B6AC;
}
.navbar-wrapper .navbar ul.item_list li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 22px;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1020px) and (min-width: 769px) {
  .navbar-wrapper .navbar ul.item_list li a {
    font-size: 16px;
  }
}
.navbar-wrapper .navbar ul.item_list li a span {
  position: absolute;
  bottom: 16px;
  /*display: block;*/
  text-align: center;
  width: 100%;
}

input:focus-visible, a:focus-visible {
  outline: 2px solid #2B96AD;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background: linear-gradient(to top, #F4F2FF, #eeeeee);
  z-index: 1;
}
@media screen and (min-width: 769px) {
  .main {
    flex-direction: row;
  }
}

.half-column {
  flex-grow: 1;
}
@media screen and (min-width: 1020px) {
  .half-column {
    width: 50%;
  }
}
@media screen and (max-width: 1020px) and (min-width: 769px) {
  .half-column + .half-column {
    min-width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .half-column {
    width: 100%;
  }
}

.core_content {
  margin: 5%;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
}

.form_element_container {
  width: 300px;
  display: block;
  margin: 10px auto;
  position: relative;
  text-align: left;
}

.field_has_error .form_input_container input {
  border: 1px solid #AD482B;
}

input[type=text], input[type=email], input[type=password] {
  width: 300px;
  height: 50px;
  border: 1px solid #42706B;
  border-radius: 3px;
  display: block;
  font-size: 18px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  outline: 2px solid #2B96AD;
}

.core_content {
  text-align: center;
}

.form_input_container {
  display: flex;
  width: 350px;
  vertical-align: middle;
}

.help_text_icon {
  margin: 10px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #2B96AD;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  cursor: pointer;
  font-weight: bold;
  content: "?";
}
.help_text_icon::after {
  content: "?";
}

button, .button {
  width: 300px;
  height: 50px;
  border: 0px solid #42706B;
  display: block;
  font-size: 18px;
  background-color: #64B6AC;
  color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  margin-top: 25px;
  transition: background-color 0.25s ease-in-out;
}
button.secondary, .button.secondary {
  background-color: #93d9be;
}
button .button, .button .button {
  margin-bottom: 25px;
}
button:hover, .button:hover {
  background-color: #53938c;
}

.content_column {
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.slideshow_column {
  background: linear-gradient(to top, #000000, #222E50);
  position: relative;
  min-height: 400px;
  max-height: 99vh;
  z-index: -1;
}
.slideshow_column .slide {
  position: absolute;
  /* background-image: url("../images/Crow.jpg");
  background-size: cover;
  background-position: center; */
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: hidden;
  z-index: -2;
  transition: opacity 0.6s;
}
.slideshow_column .slide.previous {
  opacity: 1;
  z-index: -1;
}
.slideshow_column .slide.current {
  opacity: 1;
  z-index: 0;
}
.slideshow_column .slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.help_text, .error_text, .note {
  font-size: 13px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.help_text {
  max-height: 0px;
}
.help_text.help_text_open {
  max-height: 250px;
  transition: max-height 0.5s ease-in-out;
}

.field_has_error .error_text {
  display: block;
}

.error_text {
  display: none;
  color: #AD482B;
}
.error_text ul {
  list-style-position: none;
  padding-left: 0px;
  margin: 0;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}
.divider:before, .divider::after {
  content: "";
  display: block;
  height: 3px;
  min-width: 35%;
}
.divider:before {
  background: linear-gradient(to left, #42706B, rgba(240, 240, 240, 0));
}
.divider:after {
  background: linear-gradient(to right, #42706B, rgba(240, 240, 240, 0));
}
.divider > * {
  margin: auto 2.5%;
  max-width: 25%;
  text-align: center;
}/*# sourceMappingURL=pixax.css.map */